/* Reset default browser styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    line-height: 1.5;
    background-color: #FDFCFB; /* Cream color */
}

header {
    background-color: #1C56AC; /* Uzbekistan Blue */
    color: #FFFFFF; /* Star White */
    padding: 10px;
}

nav ul {
    list-style: none;
}

    nav ul li {
        display: inline-block;
        margin-right: 10px;
    }

        nav ul li a {
            color: #FFFFFF; /* Star White */
            text-decoration: none;
        }

main {
    flex: 1;
    padding: 20px;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 10px;
}

.card {
    width: 100%;
    max-width: 200px; /* Adjust the maximum width as per your preference */
    margin: 20px;
}

.card-img-top {
    width: 100%;
    height: auto;
}

footer {
    background-color: #1C56AC; /* Uzbekistan Blue */
    color: #FFFFFF; /* Star White */
    padding: 10px;
    text-align: center;
    margin-top: auto; /* Push the footer to the bottom of the page */
}
