<style>
  
</style>

<main class="content">
 
  <div class="d-flex justify-content-center align-items-center">
    <a href="/resources">
      <button class="btn btn-secondary gallery">People</button>
    </a>
      <button class="btn btn-secondary gallery active" href="/books">Books</button>
    <a href="/links">
      <button class="btn btn-secondary gallery">Links</button>
    </a>
  </div>

  <div class="user-images d-flex">
      <div class="card d-flex align-items-stretch position-relative image-container">
            <h1>Book 1</h1>
      </div>

      <div class="card d-flex align-items-stretch position-relative image-container">
        <h1>Book 1</h1>
        </div>

    <div class="card d-flex align-items-stretch position-relative image-container">
        <h1>Book 1</h1>
    </div>

    <div class="card d-flex align-items-stretch position-relative image-container">
        <h1>Book 1</h1>
    </div>
  </div>

</main>

