<main class="content">
    <style>

        .gallery-image{
            width:300px;
        }
        

    </style>
    <div class="d-flex justify-content-center align-items-center">
        <button class="btn btn-secondary gallery">Main Gallery</button>
        <button class="btn btn-secondary gallery">Community Gallery</button>
    </div>
    <div class="user-images images-wrapper d-flex flex-wrap justify-content-around">
        <% images.forEach(function(image) { %>
            <% image.imagesLinks.forEach(function(link) { %>
                <div class="p-1">
                    <img class="gallery-image" src="<%= link %>" alt="communityImage.jpg">
                </div>
            <% }); %>
        <% }); %>
    </div>
  

</main>
