<main class="content">
    <div class="d-flex justify-content-center align-items-center">
        <a href="../<%= year %>">
            <button class="btn btn-secondary gallery" onclick="window.history.back()">Main Gallery</button>
        </a>
            <button class="btn btn-secondary gallery">Community Gallery</button>
    </div>

    <div class="user-images  d-flex flex-wrap justify-content-around">
        <div class="d-flex flex-wrap justify-content-around">
        <% images.forEach(function(image) { %>
            <% image.imagesLinks.forEach(function(link) { %>
                <div class="p-1">
                    <img class="gallery-image" src="<%= link %>" alt="communityImage.jpg">
                </div>
            <% }); %>
        <% }); %>
        </div>
        <div class="add-member-button row mx-0 p-2">
            <a href="/add-community-photo?year=<%= year %>" class="btn btn-primary w-10 m-auto">Add Photo</a>
        </div>
    </div>


</main>

