<header class="header">
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="/">Alumni Website</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <% years.forEach(navYear => { %>
          <li class="nav-item">
            <a class="nav-link btn btn-secondary year text-white<%= (navYear === year) ? ' active' : '' %>"
              href="/<%= navYear %>"><%= navYear %></a>
          </li>
        <% }); %>
      </ul>
    </div>
  </nav>
</header>
