<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Alumni Website</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="styles/styles.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bonheur Royale">
  <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
  <body>
  <%- include('./Header.ejs', { years: years }) %>

  <% if(year) { %>
    <%- include('./Main.ejs', { cards: cards, year: year }) %>
  <% } else { %>
    <%- include('./Landing.ejs', { cards: cards, year: year }) %>
  <% } %>

  <%- include('./Footer.ejs') %>

</body>
</html>
