<main class="content">

  <div class="user-images">
    <div class="classof">
      Welcome to our Alumni's community!
    </div>
    <div class="info text-white">
      Rekindle old ties and make new ones in our vibrant digital hub. This platform isn't just a website, it's a homecoming for every student.
      Explore our gallery to relive shared memories from Turkish Lyceum/2-DIMI/(current name), stay updated with news, and get involved in events. 
      Whether a recent grad or a long-time alum, this space is for you.
    </div>      
  </div>

  
  <section class="carousel">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row">
                    <div class="col"><img class="d-block w-100" src="image1.jpg" alt="First slide"></div>
                    <div class="col"><img class="d-block w-100" src="image2.jpg" alt="Second slide"></div>
                    <div class="col"><img class="d-block w-100" src="image3.jpg" alt="Third slide"></div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    <div class="col"><img class="d-block w-100" src="image4.jpg" alt="Fourth slide"></div>
                    <div class="col"><img class="d-block w-100" src="image5.jpg" alt="Fifth slide"></div>
                    <div class="col"><img class="d-block w-100" src="image6.jpg" alt="Sixth slide"></div>
                </div>
            </div>
            <!-- Add as many carousel-items as you like -->
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</section>


</main>
