<style>
  
</style>

<main class="content">
 
    <div class="d-flex justify-content-center align-items-center">
        <a href="/resources">
        <button class="btn btn-secondary gallery">People</button>
        </a>
        <a href="/books">
        <button class="btn btn-secondary gallery" href="/books">Books</button>
        </a>
        <button class="btn btn-secondary gallery active">Links</button>
    </div>

    <div class="user-images d-flex">
            <div class="card d-flex align-items-stretch position-relative image-container">
                    <h1>Link 1</h1>
            </div>

            <div class="card d-flex align-items-stretch position-relative image-container">
                <h1>Link 2</h1>
        </div>

        <div class="card d-flex align-items-stretch position-relative image-container">
            <h1>Link 3</h1>
        </div>

    <div class="card d-flex align-items-stretch position-relative image-container">
        <h1>Link 4</h1>
    </div>

  </div>

</main>

