<main class="content">
    <div class="row user-images  align-items-center" style="width:70%;">
        <form class="text-white col-md-6  col-12 add-member order-md-first order-last">
            <div class="wrapper">
                    <div class="cropper cropper-container d-flex">
                        <img id="member-image" class="cropper-image" src="images/pfp.png" alt="hello world">                
                    </div> 
            </div>
        
            <div class="mb-1">
            <label for="imageFile" class="form-label mb-1">Image</label> 
            <div class = "d-flex justify-content-between">
                <input class="form-control bg-dark text-white col-8" style="display:inline-block" type="file" id="imageFile" name="imageFile" accept="image/*">
                <button type="button" class = "btn btn-primary col-3" onclick="crop()">Crop</button>
            </div>
            </div>
            <div class="mb-1">   
                <label for="fname" class="form-label mb-1">First name</label>
                <input name="fname" type="text" class="form-control bg-dark text-white" id="firstNameInput" pattern="^[A-Za-z]{2,20}$" oninput="updateFirstName()" required>
            </div>
            <div class="mb-1">
                <label for="lname" class="form-label">Last name</label>
                <input name="lname" type="text" class="form-control bg-dark text-white" id="lastNameInput" pattern="^[A-Za-z]{2,20}$" oninput="updateLastName()" required>
            </div>
            <div class="d-flex p-1 justify-content-end">
                <button type="submit" class="btn btn-primary ">Submit</button>
            </div>
       </form>
a
        <div class="col-md-6 col-12 add-member py-4 ">
                <div class="classof">
                    Class of <%= year %>
                </div>
            <div class="card d-flex align-items-stretch ">
                <img id="output-image" src="images/pfp.png" class="card-img-top" alt="images/pfp.png">
                <div class="card-body">
                    <p class="card-title text-white">
                        <p class="text-white" id="firstNameOutput">First name</p>                        
                        <p class="text-white" id="lastNameOutput" required>Last name</p>                        
                    </p>
                    <p class="card-text"></p>
                </div>
            </div>
        </div>


      <script src="scripts/cropper-instance.js"></script>
      <script src="scripts/compressor-instance.js" type="module"></script>


</main>

