<main class="content">
    Resources: here
    <div class="user-images">
        <form>
            <div class="mb-3">
                <label for="upload-photo" class="form-label">Upload Photo</label>
                <input type="file" class="form-control" id="upload-photo" accept="image/*">
                <img id="image-preview" src="#" alt="your image" style="display: none; width: 300px; height: 300px;"/>
            </div>
            <div class="mb-3">   
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
     </form>
        <div>
            
        </div>
     <div>
</main>

<script src="./node_modules/cropperjs/dist/cropper.min.js"></script>
