<main class="content">
    <div class="user-images row  align-items-center">
        <form class="text-white col-md-6  col-12 add-member">
            <div class="cropper cropper-container">
                <img id="member-image"class="cropper-image"src="/images/rules.png" alt="hello world">                
            </div>
            <div class="btn btn-danger" onclick="updateImage()">

            </div>

            <div class="mb-3">   
                <label for="exampleInputEmail1" class="form-label">First name</label>
                <input type="text" class="form-control bg-dark text-white" id="firstNameInput" aria-describedby="emailHelp" oninput="updateFirstName()">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Last name</label>
                <input type="text" class="form-control bg-dark text-white" id="lastNameInput" oninput="updateLastName()">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
       </form>

        <div class="col-md-6 col-12 add-member py-4">
            <div class="card d-flex align-items-stretch ">
                <img src="" class="card-img-top" alt="" onerror="this.onerror=null; this.src='/images/rules.png';"
                id="" onclick="openModal('')">
                <div class="card-body">
                    <p class="card-title text-white">
                        <p class="text-white" id="firstNameOutput">First name</p>                        
                        <p class="text-white" id="lastNameOutput">Last name</p>                        
                    </p>
                    <p class="card-text"></p>
                </div>
            </div>
        </div>


      <script src="scripts/cropper-instance.js"></script>

</main>

