<main class="content">
   
    <div class="d-flex justify-content-center align-items-center">
        <button class="btn btn-secondary gallery active">People</button>
        <a href="/books">
            <button class="btn btn-secondary gallery" href="/books">Books</button>
        </a>
        <a href="/links">
        <button class="btn btn-secondary gallery">Links</button>
        </a>
    </div>

    <div class="user-images d-flex">
      <div class="card d-flex align-items-stretch position-relative image-container">
          
            <img src="" class="card-img-top" alt="AliElbekov.jpg" 
            onerror="this.onerror=null; this.src='https://ui-avatars.com/api/?name=Ali Elbekov&background=0C234B&color=fff';" 
            id="">            
              <div class="card-body">
                  <p class="card-title text-white">Ali <br> Elbekov</p>
                  <p class="card-text text-white">Computer Science, <br>The University of Arizona, 2024</p>
                  <p class="card-text text-white"></p>
              </div>

        </div>

        <div class="card d-flex align-items-stretch position-relative image-container">
          
            <img src="" class="card-img-top" alt="AliElbekov.jpg" 
            onerror="this.onerror=null; this.src='https://ui-avatars.com/api/?name=Ali Elbekov&background=0C234B&color=fff';" 
            id="">            
              <div class="card-body     ">
                  <p class="card-title text-white">Ali <br> Elbekov</p>
                  <p class="card-text text-white">Computer Science, <br>The University of Arizona, 2024</p>
                  <p class="card-text text-white"></p>
              </div>

        </div>
        <div class="card d-flex align-items-stretch position-relative image-container">
          
            <img src="" class="card-img-top" alt="AliElbekov.jpg" 
            onerror="this.onerror=null; this.src='https://ui-avatars.com/api/?name=Ali Elbekov&background=0C234B&color=fff';" 
            id="">            
              <div class="card-body">
                  <p class="card-title text-white">Ali <br> Elbekov</p>
                  <p class="card-text text-white">Computer Science, <br>The University of Arizona, 2024</p>
                  <p class="card-text text-white"></p>
              </div>

        </div>
    </div>
</main>

  